// vgrids
//
// Customizes the `.vgrid` component with basic values, each used across all vgrid variations.

$vgrid-gutter:                1rem !default;
$vgrid-y-gutter:              .75rem !default;

$vgrid-cell-padding:          $vgrid-y-gutter !default;
$vgrid-cell-padding-sm:       .3rem !default;

$vgrid-color-light:           #f4f6f8 !default;

$vgrid-color:                 $body-color !default;
$vgrid-bg:                    null !default;
$vgrid-accent-bg:             rgba($black, .05) !default;
$vgrid-hover-color:           $vgrid-color !default;
$vgrid-hover-bg:              rgba($black, .075) !default;
$vgrid-active-bg:             $vgrid-hover-bg !default;

$vgrid-border-width:          $border-width !default;
$vgrid-border-color:          $vgrid-color-light !default;

$vgrid-head-bg:               $gray-200 !default;
$vgrid-head-color:            $gray-700 !default;

$vgrid-dark-color:            $white !default;
$vgrid-dark-bg:               $gray-800 !default;
$vgrid-dark-accent-bg:        rgba($white, .05) !default;
$vgrid-dark-hover-color:      $vgrid-dark-color !default;
$vgrid-dark-hover-bg:         rgba($white, .075) !default;
$vgrid-dark-border-color:     lighten($vgrid-dark-bg, 7.5%) !default;
$vgrid-dark-color:            $white !default;

$vgrid-striped-order:         odd !default;

$vgrid-caption-color:         $text-muted !default;

$vgrid-bg-level:              -9 !default;
$vgrid-border-level:          -6 !default;

$vgrid-order-color:           #dddddd !default;
$vgrid-order-size:            4px !default;

$vgrid-filter-bg:             $vgrid-color-light !default;
$vgrid-filter-width:          200px !default;

$vgrid-visibility-bg:  $vgrid-color-light !default;
$vgrid-visibility-bg:  $vgrid-color-light !default;

$vgrid-search-width:          180px;

$vgrid-select-width:          140px !default;
$vgrid-select-bg:             $vgrid-color-light !default;

$vgrid-input-height:          32px;

// Table
$vgrid-table-border:          $border-color !default;

// Action column
$vgrid-action-column-bg:      darken($vgrid-color-light, 10%) !default;
