// vgrids
//
// Customizes the `.vgrid` component with basic values, each used across all vgrid variations.

$vgrid-gutter:                1rem !default;
$vgrid-y-gutter:              .75rem !default;

$vgrid-cell-padding:          $vgrid-y-gutter !default;
$vgrid-header-cell-padding:   $vgrid-y-gutter * 1.5 $vgrid-y-gutter !default;
$vgrid-cell-padding-sm:       .3rem !default;

$vgrid-margin-bottom:         1.5rem !default;
$vgrid-data-min-height:       5px !default;

$vgrid-color-light:           #f4f6f8 !default;

$vgrid-color:                 $body-color !default;
$vgrid-bg:                    null !default;
$vgrid-accent-bg:             rgba($black, .05) !default;
$vgrid-hover-color:           $vgrid-color !default;
$vgrid-hover-bg:              rgba($black, .075) !default;
$vgrid-active-bg:             $vgrid-hover-bg !default;

$vgrid-border-width:          $border-width !default;
$vgrid-border-color:          $vgrid-color-light !default;

$vgrid-head-bg:               $gray-200 !default;
$vgrid-head-color:            $gray-700 !default;

$vgrid-dark-color:            $white !default;
$vgrid-dark-bg:               $gray-800 !default;
$vgrid-dark-accent-bg:        rgba($white, .05) !default;
$vgrid-dark-hover-color:      $vgrid-dark-color !default;
$vgrid-dark-hover-bg:         rgba($white, .075) !default;
$vgrid-dark-border-color:     lighten($vgrid-dark-bg, 7.5%) !default;
$vgrid-dark-color:            $white !default;

$vgrid-striped-order:         odd !default;

$vgrid-caption-color:         $text-muted !default;

$vgrid-bg-level:              -9 !default;
$vgrid-border-level:          -6 !default;

$vgrid-order-color:           #dddddd !default;
$vgrid-order-size:            4px !default;

$vgrid-filter-bg:             $vgrid-color-light !default;
$vgrid-filter-width:          200px !default;

$vgrid-visibility-bg:         $vgrid-color-light !default;
$vgrid-visibility-bg:         $vgrid-color-light !default;

$vgrid-search-width:          180px !default;

$vgrid-select-width:          140px !default;
$vgrid-select-bg:             $vgrid-color-light !default;

$vgrid-input-height:          34px !default;
$vgrid-input-active:          #4c9aff !default;
$vgrid-input-bg:              $vgrid-color-light !default;

// Table
$vgrid-table-border:          $border-color !default;

// Pagination
$vgrid-pagination-active:          #333 !default;
$vgrid-pagination-active-color:    #fff !default;

// Action column
$vgrid-action-column-color:        inherit !default;
$vgrid-action-column-bg:           transparent !default;
$vgrid-action-column-border:       transparent !default;
$vgrid-action-column-hover-color:  inherit !default;
$vgrid-action-column-hover-bg:     darken($vgrid-color-light, 10%) !default;
$vgrid-action-column-hover-border: transparent !default;

// Spinner

$vgrid-spinner-width:         30px;
$vgrid-spinner-border-width:  2px;
