.vgrid(:class="gridClasses")
  block header
    include partials/header.pug
  .vgrid-body
    block body
      include partials/table.pug
    .vgrid-loader(v-if="isLoading")
      span.vgrid-sr-only Loading..
  block footer
    include partials/footer.pug
