.vgrid-visibility {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.vgrid-visibility-button {
  display: inline-block;
  height: $vgrid-input-height;
  background-color: $vgrid-visibility-bg;
  padding: .4rem .75rem;
  border: 0px;
  border-radius: $border-radius;
  font-size: inherit;
  font-family: $btn-font-family;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  @include transition($btn-transition);

  &:hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }

  > span {
    padding-top: 3px;
    position: relative;
    display: block;
    width: 16px;
    height: 20px;
    font-size: 0px;
    text-indent: -9999px;

    &:before,
    &:after,
    > span {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background: darken($vgrid-visibility-bg, 50%);
    }

    > span {
      margin: 4px 0;
    }
  }
}

.vgrid-visibility-body {
  position: absolute;
  z-index: 10;
  top: calc(100% + 10px);
  right: 0;
  padding: .75rem 1rem;
  min-width: 200px;
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 1px rgba(9,30,66,.31);
  text-align: left;
}

.vgrid-visibility-column {
  position: relative;
  background: $vgrid-visibility-bg;
  padding: .35rem .5rem;
  border-radius: $border-radius;

  &:hover {
    background: darken($vgrid-visibility-bg, 5%);
  }

  + .vgrid-visibility-column {
    margin-top: .5rem;
  }

  &:first-child {
    .vgrid-visibility-down {
      display: none;
    }
  }

  &:last-child {
    .vgrid-visibility-up {
      display: none;
    }
  }
}

.vgrid-visibility-down {
  position: absolute;
  bottom: calc(50% + .5px);
  right: .35rem;
  background: transparent;
  border: 0;
  outline: none;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-bottom: math.div($vgrid-order-size * 3, 2) solid darken($vgrid-visibility-bg, 20%);
    border-right: $vgrid-order-size solid transparent;
    border-left: $vgrid-order-size solid transparent;
  }

  &:hover {
    &:before {
      border-bottom-color: #000;
    }
  }
}

.vgrid-visibility-up {
  position: absolute;
  top: calc(50% + .5px);
  right: .35rem;
  background: transparent;
  border: 0;
  outline: none;

  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: math.div($vgrid-order-size * 3, 2) solid darken($vgrid-visibility-bg, 20%);
    border-right: $vgrid-order-size solid transparent;
    border-left: $vgrid-order-size solid transparent;
  }

  &:hover {
    &:before {
      border-top-color: #000;
    }
  }
}
