.vgrid-field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@for $i from 1 through $grid-columns {
  .vgrid-field-#{$i} {
    @include make-col($i, $grid-columns);
  }
}

.vgrid-field-header {
  @for $i from 1 through $grid-columns {
    &.vgrid-field-#{$i} {
      width: math.div($i, $grid-columns);
    }
  }
}
