.vgrid-filter {
  display: inline-flex;
  flex-wrap: nowrap;
  font-size: .95em;
}

.vgrid-filter-item {
  display: inline-flex;
  position: relative;
  margin-bottom: .25rem;

  &:not(:last-child) {
    margin-right: .25rem;
  }
}

.vgrid-filter-handle {
  background: $vgrid-filter-bg;
  height: $vgrid-input-height;
  border-radius: $border-radius;
  max-width: $vgrid-filter-width;
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: .4rem 1.45rem .4rem .45rem;
  line-height: 1;

  &:hover,
  .active & {
    background: darken($vgrid-filter-bg, 5%);
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    right: .45rem;
    display: block;
    width: 0;
    height: 0;
    border-top: 6px solid darken($vgrid-filter-bg, 30%);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

.vgrid-filter-label {
  margin-right: 3px;
}

.vgrid-filter-value {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vgrid-filter-editor {
  position: absolute;
  z-index: 10;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  min-width: 200px;
  padding: .75rem 1rem;
  border-radius: $border-radius;
  background: #fff;
  box-shadow: 0 4px 8px -2px rgba(9,30,66,.25), 0 0 1px rgba(9,30,66,.31);
}
