.vgrid-text-input {
  position: relative;
}

.vgrid-input {
  display: block;
  width: 100%;
  height: $vgrid-input-height;
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: .95em;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid darken($vgrid-border-color, 5%);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: darken($vgrid-border-color, 20%);
  }
}

.vgrid-input-clear {
  position: absolute;
  top: 50%;
  right: .75rem;
  transform: translate(0, -50%);
  color: inherit;
  text-decoration: none;
  opacity: .7;
  font-size: 1.2em;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

.vgrid-input-sm {
  .vgrid-input {
    height: calc(1.5em + 0.5rem + 2px);
    font-size: .85em;
  }
}
