.vgrid {
  text-align: left;

  &,
  *,
  &:before,
  &:after,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.vgrid-header {
  margin-bottom: 1rem;
  display: flex;

  // Put a spacing between items
  > *:not(:last-child) {
    margin-right: .25rem;
  }
}

.vgrid-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.vgrid-center {
  text-align: center;

  .vgrid-field {
    justify-content: center;
  }

  .vgrid-input {
    text-align: center;
  }
}
