.vgrid {
  margin-bottom: $vgrid-margin-bottom;
  text-align: left;

  &,
  *,
  &:before,
  &:after,
  *:before,
  *:after {
    box-sizing: border-box;
  }
}

.vgrid-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.vgrid-header {
  margin-bottom: 1rem;
  display: flex;

  // Put a spacing between items
  > *:not(:last-child) {
    margin-right: .25rem;
  }
}

.vgrid-body {
  position: relative;
  min-height: $vgrid-data-min-height;
}

.vgrid-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.vgrid-center {
  text-align: center;

  .vgrid-field {
    justify-content: center;
  }

  .vgrid-input {
    text-align: center;
  }
}
