.vgrid-ml-auto {
  margin-left: auto;

  + .vgrid-ml-auto {
    margin-left: 0;
  }
}

.vgrid-mr-auto {
  margin-right: auto;
}

.vgrid-align-center {
  justify-content: center;
  text-align: center;
}

.vgrid-align-left {
  justify-content: flex-start;
  text-align: left;
}

.vgrid-align-right {
  justify-content: flex-end;
  text-align: right;
}

.vgrid-text-truncate {
  &,
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.vgrid-img-fluid {
  display: block;
  max-width: 100%;
}
