.vgrid-ml-auto {
  margin-left: auto;

  + .vgrid-ml-auto {
    margin-left: 0;
  }
}

.vgrid-mr-auto {
  margin-right: auto;
}

.vgrid-align-center {
  justify-content: center;
}

.vgrid-align-left {
  justify-content: flex-start;
}

.vgrid-align-right {
  justify-content: flex-end;
}

