.vgrid-pagination {
  font-size: .9em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: flex-end;

    li {
      a {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        border: 1px solid $border-color;
        text-decoration: none;
        color: inherit;
      }

      &.disabled {
        opacity: .6;
        pointer-events: none;
      }

      &.active {
        a {
          background: #333;
          border-color: #333;
          color: #fff;
        }
      }
    }
  }
}
