.vgrid-pagination {
  font-size: .95em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: flex-end;

    li {
      a {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: inherit;
        border: 1px solid $vgrid-border-color;
        text-decoration: none;
        color: inherit;
      }

      &.disabled {
        opacity: .6;
        pointer-events: none;
      }

      &.active {
        a {
          background: $vgrid-pagination-active;
          border-color: $vgrid-pagination-active;
          color: $vgrid-pagination-active-color;
        }
      }
    }
  }
}

.vgrid-pagination--cursor {
  font-size: 1.25em;

  ul {
    li {
      a {
        padding-top: .4rem;
        padding-bottom: .4rem;
        border: 1px solid darken($vgrid-border-color, 30%);
      }

      &.disabled {
        opacity: .3;
      }
    }
  }
}
