.vgrid-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$vgrid-gutter / 2;
  margin-right: -$vgrid-gutter / 2;
}

// Grid framework - from bootstrap

%vgrid-column {
  position: relative;
  width: 100%;
  padding-left: $vgrid-gutter / 2;
  padding-right: $vgrid-gutter / 2;
}

$breakpoints: $grid-breakpoints;
$columns:     $grid-columns;

@include vgrid-make-grid-columns($grid-columns, $grid-breakpoints);
