.vgrid-search {
  display: inline-flex;
  align-items: flex-start;
  width: $vgrid-search-width;
  min-width: 150px;

  .vgrid-input {
    text-align: left;
    border-width: 2px;
    background-color: $vgrid-input-bg;
  }
}
