.vgrid-filter-item(
  :class="classes",
  @click.stop="stopClick"
)
  block label
    .vgrid-filter-handle(
      @click="showEditor",
      :class="{ active: isEditor, 'vgrid-input--active' : localValue }"
    )
      span.vgrid-filter-value
        small {{ column.label }}:&nbsp;
        strong {{ valueInString }}
  block content
    .vgrid-filter-editor(v-show="isEditor")
      span.vgrid-filter-label {{ column.label }}:
      block input
        TextInput.vgrid-input-sm(
          ref="input",
          :placeholder="placeholder",
          v-model="localValue",
          @enter="onEnter"
        )
