.vgrid-filter-item(
  v-if="column.filter",
  :class="classes",
  @click.stop="stopClick"
)
  block label
    .vgrid-filter-handle(
      @click="showEditor",
      :class="{ active: isEditor }"
    )
      span.vgrid-filter-value {{ valueInString }}
  block content
    .vgrid-filter-editor(v-show="isEditor")
      span.vgrid-filter-label {{ column.label }}:
      TextInput.vgrid-input-sm(
        ref="input",
        :placeholder="placeholder",
        v-model="localValue",
        @enter="onEnter"
      )
